/* the props
@import "https://unpkg.com/open-props";

/* optional imports that use the props
@import "https://unpkg.com/open-props/normalize.min.css";
@import "https://unpkg.com/open-props/buttons.min.css"; */

:root {
  color-scheme: dark;
  --text-color: #ffffff;
  --backgroun-color: #1f1515;
  --background-gradient: linear-gradient(
    135deg,
    rgb(26, 26, 29) 27.1%,
    rgb(58, 28, 34) 77.5%
  );
  --accent: hsl(351, 68%, 42%);
  --accent-light: hsl(348, 75%, 52%);
  --accent-dark: hsl(0, 75%, 23%);
  --accent-gradient: linear-gradient(
    45deg,
    var(--accent),
    var(--accent-light) 100%
  );
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-family: system-ui, sans-serif;
  background: #13151a;
}
code {
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}
body {
  color: var(--text-color);
  padding: 0 2rem;
  margin: 0 auto;
  background-color: var(--backgroun-color);
  background-image: var(--background-gradient);
  /* background-image: url(https://static.vecteezy.com/system/resources/previews/030/316/093/large_2x/intertwining-red-and-blue-flames-mesmerize-on-a-dark-background-vertical-mobile-wallpaper-ai-generated-free-photo.jpg); */
  width: min(100%, 60em);
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 2em;
  min-height: 100dvh;
}

header {
  display: flex;
  place-content: center;
  padding: 1rem;
  gap: 1rem;
  width: 100%;
}

nav {
  font-size: 2rem;
  display: flex;
  gap: 2rem;
}

a {
  font-weight: bold;
  text-decoration: none;
  color: var(--accent-light);
  text-shadow: 1px 1px 5px black;
  transition: all 0.3s ease;
}
a:hover {
  color: var(--text-color);
  text-shadow: 0px 0px 10px var(--accent-light);
}

h1 {
  font-size: 4rem;
  text-wrap: balance;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  color: white;
}

.text-gradient {
  background-image: var(--accent-gradient);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

img.logo {
  width: 3rem;
}

main.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  place-content: space-evenly;
  place-items: center;
}

form {
  width: min(40rem, 90dvw);
  display: flex;
  flex-wrap: wrap;
  place-content: start;
  gap: 1em;
  border-radius: 1em;
  /* background-color: var(--accent-dark); */
  border: 2px solid var(--accent-light);
  color: white;
  padding: 1.5em 2em;
  font-size: 1.2rem;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  box-shadow: 4px 4px 15px black;
}

form button {
  border-radius: 0.5rem;
  background-color: var(--accent-light);
  font-weight: bold;
  border: 2px solid white;
  transition: all 0.3s ease;
  box-shadow: 4px 4px 15px black;
}
form button:is(:hover, :focus) {
  scale: 1.1;
  background-color: white;
  color: var(--accent);
  border: 2px solid var(--accent-light);
  box-shadow: 0px 0px 15px var(--accent-light);
  cursor: pointer;
}

textarea,
input,
button {
  border-radius: 0.2rem;
  line-height: 1;
  font-size: 1rem;
  padding: 0.2rem 0.4rem;
}

textarea {
  width: 100%;
  resize: none;
}

footer {
  display: flex;
  font-size: 0.5;
}
