---
import dotenv from "dotenv";
dotenv.config();

import ComicCard from "../components/ComicCard.astro";
import Layout from "../layouts/Layout.astro";
import { scrapeComic } from "../scripts/mainScraper";
import databases from "../data/databasesFandom.json";
import Header from "../components/Header.astro";

const { METRON_API_AUTH } = process.env;

const json = await fetch("https://metron.cloud/api/character/145/", {
  headers: {
    Authorization: `Basic ${METRON_API_AUTH}`,
  },
}).then((response) => response.json());

const json2 = console.log(json);
---

<Layout title="Fandom Comic Scraper">
  <h1>
    <span class="text-gradient">Pruebas</span>
  </h1>
  <main class="container">
    <ul></ul>
  </main>
  <style></style>
  <script></script>
</Layout>
