---
import Layout from "../layouts/Layout.astro";

console.log(Astro.url.searchParams);
---

<Layout title="Fandom Comic Scraper">
  <h1>
    <span class="text-gradient">Pruebas</span>
  </h1>
  <main class="container"></main>
  <style></style>
  <script></script>
</Layout>
