---
import Navigation from "./Navigation.astro";
---

<footer>
  <a target="_blank" href="https://icons8.com/icon/40N14druTwma/fandom"
    >Fandom</a
  > icon by <a target="_blank" href="https://icons8.com">Icons8</a>
</footer>
