---

---

<nav transition:animate="slide" class="nav-links">
  <a href="/">Home</a>
  <!--data-astro-reload si queremos recargar lapágina entera -->
  <a href="/notion-cms/">Notion-CMS</a><a href="/comic-vine-api"
    >Comic Vine API</a
  ><a href="metron-api">Metron API</a>
</nav>
