---
import { ViewTransitions } from "astro:transitions";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

import "../styles/global.css";

interface Props {
  title: string;
  referrer?: string;
}

const { title, referrer } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/icons8-fandom-96.png" />
    <meta name="generator" content={Astro.generator} />
    <!-- Para que cargue la imagen del servidor de wikia -->
    {referrer && <meta name="referrer" content={referrer} />}
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
  </body>
</html>
